<%- include('partials/header.html') %>
<div id="recipeframe">
  <p id="recipe_id" hidden><%= recipe_id %></p>
  <ul class="list-group list-group-flush" v-if="ready">
    <li class="list-group-item">
      <h3>${recipe.title}</h3>
    </li>
    <li class="list-group-item">
      <img :src="recipe.image" class="img-fluid" alt="Responsive image">
    </li>
    <li class="list-group-item">${recipe.aggregateLikes} Likes</li>
    <li class="list-group-item">Ready in ${recipe.readyInMinutes} Minutes</li>
    <li class="list-group-item">${recipe.preparationMinutes} Preparation Minutes</li>
    <li class="list-group-item">${recipe.cookingMinutes} Cooking Minutes</li>
    <li class="list-group-item">VEGAN VEGETARIAN GLUTENFREE DAIRYFREE</li>
    <li class="list-group-item" v-html="recipe.summary"></li>
  </ul>
</div>

<%- include('partials/scripts.html') %>

<script src='/js/recipe.js' type='text/javascript'></script>
<%- include('partials/footer.html') %>