<%- include('partials/header.html') %>

<p id="recipe_id" hidden><%= recipe_id %></p>

<div class="card" id="recipeframe">
  <div class="card-header d-flex" v-if="ready">
    <a href="/search" class="btn btn-primary-outline">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg>
    </a>
    <h3>${recipe.title}</h3>
  </div>
  <ul class="list-group list-group-flush" v-if="ready">
    <li class="list-group-item">
      <img :src="recipe.image" class="img-fluid" alt="Responsive image">
    </li>
    <li class="list-group-item">${recipe.aggregateLikes} Likes</li>
    <li class="list-group-item">Ready in ${recipe.readyInMinutes} Minutes</li>
    <li class="list-group-item">${recipe.preparationMinutes} Preparation Minutes</li>
    <li class="list-group-item">${recipe.cookingMinutes} Cooking Minutes</li>
    <li class="list-group-item">VEGAN VEGETARIAN GLUTENFREE DAIRYFREE</li>
    <li class="list-group-item" v-html="recipe.summary"></li>
  </ul>
</div>

<%- include('partials/scripts.html') %>

<script src='/js/recipe.js' type='text/javascript'></script>
<%- include('partials/footer.html') %>