<%- include('partials/header.html') %>

<link rel="stylesheet" href="/css/search.css">

<div class="card">
  <div class="card-header">
    <h1>Search</h1>
  </div>

  <div id="searchframe">

    <div v-if="scan" class="video-container">
      <button type="button" class="btn btn-secondary rounded-pill" v-on:click="resetScan">Abort</button>
      <video id="video"></video>
    </div>

    <!-- Input Modal -->
    <div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="inputModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inputModalLabel">Input</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" v-for="(ingredient, index) in ingredients">
                <div class="input-group mb-3">
                  <input type="text" class="form-control-plaintext" v-bind:value="ingredient" style="border-width:0px; border:none;" readonly></input>
                  <div class="input-group-append">
                    <button type="button" class="close" v-on:click="dropIngredient(index)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- <span class="input-group-text" v-on:click="dropIngredient(index)" id="basic-addon1">Delete</span> -->
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="input-group mb-3">
                  <input type="text" id="input_ingredient" v-on:keyup="validateInput" class="form-control" style="border-width:0px; border:none;" placeholder="what's left?">
                  <div class="input-group-append">
                    <span class="input-group-text" v-on:click="startScan" id="basic-addon1">Scan</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" v-on:click="findRecipes" data-dismiss="modal">Search for
              recipes</button>
          </div>
        </div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="badge badge-pill badge-secondary" v-for="ingredient in ingredients"><h6>${ingredient}</h6></span>
        <span class="badge badge-pill badge-primary" data-toggle="modal" data-target="#inputModal"><h6>Input</h6></span>
      </li>
      <li v-for="recipe in recipes" class="list-group-item">
        <img v-bind:src="recipe.image" class="card-img-top d-inline" alt="...">
        <h5 class="card-title"><a v-bind:href="'/recipe?id='+ recipe.id">${recipe.title}</a></h5>
        <h5 class="card-title">2 of 5 ingredients used.</h5>
      </li>
    </ul>
  </div>
</div>

<%- include('partials/scripts.html') %>
<%- include('partials/bar.html') %>

<script>bar.page = 1</script>

<script>
  $('#inputModal').on('shown.bs.modal', function () {
  // get the locator for an input in your modal. Here I'm focusing on
  // the element with the id of myInput
  $('#input_ingredient').focus()
})
</script>

<script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
<script src='/js/search.js' type='text/javascript'></script>

<%- include('partials/footer.html') %>