.video-container
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
    z-index: 10000;
}

.video-container video
{
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video-container button
{
    position: absolute;
    top: 5vh;
    left: 5vw;
    z-index: 20000;
}

li.list-group-item.input-item {
    padding-bottom: 0;
}

button.btn.btn-outline-primary.rounded {
    padding-bottom: 0.5em;
}

.row.row-cols-1.row-cols-md-2 {
    padding: 2rem;
}